/*** Custom fonts ***/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic");

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&family=Zen+Kaku+Gothic+New:wght@300&display=swap");

/***  Universal Selector ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*** Body Selectors ***/
body {
  font-family: "Darker Grotesque", sans-serif;
  background-color: black;
}
header {
  max-height: 15%;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h2 {
  font-weight: lighter;
  color: whitesmoke;
}
li {
  color: whitesmoke;
}
​
/*** Elements ***/
.list-group-item {
  background-color: #404040 !important;
}
button#add-exercise {
  font-family: "Darker Grotesque", sans-serif;
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
button#delete-exercises {
  font-family: "Darker Grotesque", sans-serif;
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
#logo {
  font-weight: bold;
}
.show {
  display: block;
}
/*** Modal styles ***/
#list-group p {
  color: black;
  font-size: 1rem;
}

/*** Styles for timer ***/
div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 100px;
  color: #db4844;
}
#hours {
  font-size: 100px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}
